<div class="container animate__animated animate__fadeInUp">
	<div class="row">
		<div class="col-md-9 ml-auto mr-auto">
			<div class="jumbotron text-center">
                <h1><i class="fas fa-camera-retro fa-2x"></i></h1>
                <h1>Angular Cloudinary App</h1>
                <p class="lead">Bienvenido. Dentro de la aplicación podras subir imágenes, y ver las imágenes que tú y los otros usuarios suben.</p>
                <hr>
                <h4>Carlos Martínez</h4>
                <h5>Java & Angular Developer</h5>
                <a href="" class="btn btn-primary btn-block" target="blank">Sitio web del desarrollador</a>
              </div>
		</div>
	</div>
</div>