<div class="container animate__animated animate__fadeInUp">
	<div class="row">
		<div class="col-md-8 ml-auto mr-auto">
			<div class="jumbotron text-center">
                <h1><i class="fas fa-frown-open fa-2x"></i></h1>
                <h1 class="display-3">¡Vaya!</h1>
                <p class="lead">No encontramos la página que estabas buscando.</p>
                <hr class="my-4">
                <p>Parece que buscaste un contenido que no existe. Intenta utilizando nuestro menú de navegación.</p>
              </div>
		</div>
	</div>
</div>
