<ngx-spinner bdColor="rgba(51,51,51,0.8)" 
			 size="medium" 
			 color="#fff" 
			 type="square-jelly-box">
	<p class="spinnerMensaje">Eliminando imagen...</p>
</ngx-spinner>
<div class="container">
    <div class="row">
        <h2 class="mb-5 animate__fadeInDown">Imágenes que tu has subido</h2>
        <div class="col-md-12 text-center animate__animated animate__fadeInUp animate__delay-1s" *ngIf="imagenes.length === 0">
            <div class="alert alert-dismissible alert-primary">
                <h3>¡Vaya!</h3>
                <h4>Parece que no has subido ninguna imagen aún. Intenta subir tu primera imagen <a routerLink="/nueva">Aquí</a></h4>
            </div>
        </div>
        <div class="col-md-4 animate__animated animate__zoomIn animate__faster 800ms" *ngFor="let imagen of imagenes; index as i">
            <div class="card mb-3">
                <h3 class="card-header" title="Nombre"><i class="fas fa-file-signature"></i>{{ imagen.nombre }}</h3>
                <div class="card-body" title="ID de la imagen">
                    <h5 class="card-title"><i class="fas fa-fingerprint"></i>{{ imagen.imagenId }}</h5>
                </div>
                <div class="card-body text-center">
                    <img src="{{ imagen.imagenUrl}}" style="height: 200xp; width: 100%; display: block;" alt="Imagen">
                </div>
                <div class="card-body d-flex justify-content-between">
                   <button class="btn btn-outline-primary" (click)="abrirModal(i)"><i class="far fa-eye"></i>Ver</button>
                   <button class="btn btn-outline-danger" (click)="borrar( imagen.id )"><i class="fas fa-trash-alt"></i>Borrar</button>
                </div> 
            </div>
        </div>
    </div>
</div>
